/* 
.container_main   
{
  display: flex;
  justify-content: space-evenly;
}
.container_main label
{
   margin-top: 10px;
}

.container_main select
{
 margin-top:5px;
}

.container_main input
{
 margin-top:5px;
}

.icon {
  margin-left: 85%;
  font-size: 25px;
  margin-top: -35px;
  cursor: pointer;
  color: black;
}

.Contract_Number
{
 height: 40px;
 width: 500px;
 border-radius: 4px;
 font-size: 15px;
 border: 1px solid #bdbdbd71;
 box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.Buyer_party
{
 height: 40px;
 width: 500px;
 border-radius: 4px;
 font-size: 15px;
 border: 1px solid #bdbdbd71;
 box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.Seller_Party-1
{
 height: 40px;
 width: 500px;
 border-radius: 4px;
 font-size: 15px;
 border: 1px solid #bdbdbd71;
 box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.Sauda_Product
{
 width: 270px;
 height: 45px;
 border: 1px solid #bdbdbd71;
 border-radius: 4px;
 box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.Quantity-1
{
 border-radius: 4px;
 width: 220px;
 height: 45px;
 border: 1px solid #bdbdbd71;
 box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.ConditionCommentRemark
{
 width: 270px;
 height: 45px;
 border: 1px solid #bdbdbd71;
 box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.div2 
{
  display: flex;
  justify-content: center;
  gap:10px;
}

.AddSaudaDate
{
 height: 40px;
 width:450px;
 border-radius: 4px;
 font-size: 15px;
 border: 1px solid #bdbdbd71;
 box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.buyerStation
{
 height: 40px;
 width:450px;
 border-radius: 4px;
 font-size: 15px;
 border: 1px solid #bdbdbd71;
 box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.sellerStation
{
 height: 40px;
 width:450px;
 border-radius: 4px;
 font-size: 15px;
 border: 1px solid #bdbdbd71;
 box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.Product-Unit-Rate
{
 display: flex;
 gap: 10px;
}
.addSaudaUnit
{
 border-radius: 4px;
 width: 230px;
 height: 45px;
 border: 1px solid #bdbdbd71;
 box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.addSaudaRate
{
 border-radius: 4px;
 width: 210px;
 height: 45px;
 border: 1px solid #bdbdbd71;
 box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}


button
{
 background: #5E72E4;
 font-size: 18px;
 height: 40px;
 width: 180px;
 color: white;
 border-radius: 10px;
 margin-top: 3%;
 border: none;
 margin-right: 9rem;
 margin-left: 45%; 
}

/* ===================== */

/* 

.edit_sauda_main_div
{
    margin-left: 30px;
}
h1
{
    text-align: center;
}

.crosslogo
{
    margin-left:80%;
    border: none;
    background-color: transparent;
    font-size: xx-large;
    color: black;
}

.UpdateButton{
    background: #5E72E4;
    font-size: 18px;
    height: 43px;
    width: 192px;
    color: white;
    border-radius: 10px;
    border: none; 
    margin-right: 9rem;
    margin-left:40%;
}
.container1
{ 
    display: flex;
    gap:50px;  
} 
.container1 input
{
    margin-top: 5px;
}
.container1 select
{
    margin-top: 5px;

}


.suada_Id
{
    height: 40px;
    width: 500px;
    border-radius: 4px;
    font-size: 15px;
    border: 1px solid #bdbdbd71;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.Buyer_Party
{
    height: 40px;
    width:500px;
    border-radius: 4px;
    font-size: 15px;
    border: 1px solid #bdbdbd71;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.Seller_Party
{
    height: 40px;
    width: 500px;
    border-radius: 4px;
    font-size: 15px;
    border: 1px solid #bdbdbd71;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.container1 label{
    font-size: 16px; 
    padding: 4px; 
    color: #4F4F4F;     
    font-weight: 700;
    /* line-height: 22px;  */
    /* text-align: left; */
/* } */
/* .container1 select{
    height: 40px;
    border-radius: 4px;   
    font-size: 15px;
    width:80%;
    border: 1px solid #BDBDBD;    
} */

.select1
{
    display: flex;
    gap: 20px;    
}

.Product
{
    width: 270px;
    height: 45px;
    border: 1px solid #bdbdbd71;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 4px;

}

.Quantity{ 

    width: 210px;
    height: 45px;
    border: 1px solid #00000028;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 4px;

}

.select2{

    display: flex;
    gap: 20px;
}

.sauda_Date
{
    height: 40px;
    width:450px;
    border-radius: 4px;
    font-size: 15px;
    border: 1px solid #bdbdbd71;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.Buyer_Station
{
    height: 40px;
    width:450px;
    border-radius: 4px;
    font-size: 15px;
    border: 1px solid #bdbdbd71;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.Seler_Station
{
    height: 40px;
    width:450px;
    border-radius: 4px;
    font-size: 15px;
    border: 1px solid #bdbdbd71;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.Unit{
    width:230px;
    height: 45px;
    border: 1px solid #00000028;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 4px;

}

.Rate
{
    border-radius: 4px;
    width:200px;
    height: 45px;
    border: 1px solid #00000028;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; 
}

.Remarkinput{
    width: 52%;
    padding-top: 4%;
}


input1[type="date"] {
    position: relative;
    padding: 20px;
} */
/* ======================= 


.Add-Souda
{
    width: 192px;
    height: 43px;
    margin-left: 850px;
    border-radius: 10px;
    background: #5E72E4;
    margin-top: 30px;
    color: white;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align:center;
}
.input-main-div
{
    width: 1070px;
    height: 150px;
    top: 99px;
    margin-left:20px;
    border-radius: 5px;
    border: 1px;
    border: 1px solid #0000009f;
    background: #FFFFFF;    
    margin-top: 20px;
}
.input-second-div
{
    display: flex;
    justify-content:space-around;   
}
.Filterby
{
    padding-left: 10px;
    margin-top: 20px;
}
.souda-range
{
    height: 35px;
    width: 180px;
    border-radius: 4px;
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.151);
    margin-left: 10px;
    padding-left: 11px;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.644);

}

.buyer_Party
{
    height: 35px;
    width: 250px;
    border-radius: 4px;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.205);
    margin-left: 10px;
    padding-left: 11px;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.644);
}

.main-second-div
{
    margin-left:59px;
}

.quantity
{  
    height: 35px;
    width: 180px;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.205);
    padding-left: 10px;
}
.input::placeholder
{
    color: rgba(0, 0, 0, 0.281);
}
.product
{
    height: 35px;
    width: 180px;
    border-radius: 4px;
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.205);
    margin-left: 20px;
    padding-left: 11px;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.644);
}
.Nottodisplay
{
    display: none;
}
.listOption
{
    text-transform: capitalize;
}

.option-data
{
 width: 2pvw;  
}

.buyerstation
{
    height: 35px;
    width: 250px;
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.205);
    margin-left: 10px;
    padding-left: 11px;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.644);
}

.sellerPartyStation
{
    height: 35px;
    width: 250px;
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.205);
    margin-left: 10px;
    padding-left: 11px;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.644);
}

.rate
{
    height: 35px;
    width: 180px;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.205);
    padding-left: 10px;
    
}
/* --------Table-------- */

table,tr,th,td
{
    border: 1px solid black;
    margin-left: 20px;

    /* text-align: center;
    align-items: center; */
}

.table
{
    width: 1070px;
}

/* --------Table-------- */

/* .listAllSoudaTable
{
    background-color: white;
    border-collapse:collapse;
    width:1320px;
    margin-left: 20px;
    table-layout: auto;
} */

 .list_Count_heading
{
    width:30px;
    text-align: start;
}


.list-Sauda-Date
{ 
    width:130px;
}

.list-Buyer-party
{
    width:260px;
    font-size:15px;
    padding:0%;
    margin: 0%;
    padding-left: 15px;  
}

.list-Seller-party
{
    width:260px;
    font-size:15px;
    line-height: 19.36px;
    padding:0%;
    margin: 0%;
    padding-left: 15px;     
 
}
.span_station
{
    font-size:12px;
    color: #000000cb;
    padding:0%;
    margin: 0%;   
}
.list_Product
{
    letter-spacing: 0em;
    text-align: start;
    padding-left: 20px;
    height: 5px;
}
/* .list_Quantity
{
    width: 150px;
    line-height: 16px;
    text-align: start;
    height: 5px;
} */

/* .list-Rate
{
 
} */

.souda-date
{
    color: #152536;
    height: 45px;
}
.buyer-party-data
{
    font-size: 14px;
    color: #152536;
    padding:0%;
    margin: 0%;
    padding-left: 15px;  

}
.seller-party-data
{
    font-size: 14px;
    color: #152536;
    padding:0%;
    margin: 0%;
    padding-left: 15px;  
}
.product-data
{
    color: #152536;
    font-size: 14px;

}
.quintals-data
{
    color: #152536;
    font-size: 14px;
}


/* .list-option
{
    display: none;
} */


.optionss-data
{
    background: #000;
}

.rate-data
{
    color: #152536;
    padding-left: 18px;
    font-size: 14px;
    /* background: hotpink; */
}


/* *{
    /* background: rgb(162, 157, 157); */
    */
    .header{
        width: 1px;      
        background-color: #0d77b6 !important;
        height: 2px; 
        margin-right: 80px;
    }
    
     .showLeft{
        /* background-color: #0d77b6 !important;  */
         /* border:1px solid #0d77b6 !important; */
        text-shadow: none !important;
        /* color:#fff !important; */
        padding:2px;
        /* width: 40px; */
        /* padding-right: -6    px; */
        padding-bottom: 1px;
    }
    
    .icons li {
        background: none repeat scroll 0 0  black;
        height: 2px;
        width: 3px;
        line-height: 0;
        list-style: none outside none;
        margin-right: 5px;
        margin-top: 3px;
        vertical-align: top;
        border-radius:50%;
        pointer-events: none;
    }
    
    .btn-left {
        left: 0.4em;
    }
    
    .btn-right {
        right: 1.8em;
    }
    
    .btn-left, .btn-right {
        position: absolute;
        top: 0.24em;
    }
    
    .dropbtn {
        /* background-color: #4CAF50; */
        position: fixed;
        /* color: white; */
        font-size: 5px;
        border:    none;
        cursor: pointer;
        height: 20px;
        width: auto;
        border-radius: 5px;
        /* size: 20px; */
    }
    
    
     /* .dropbtn:hover, .dropbtn:focus {
        /* background-color: #3e8e41; 
    } */
    
    .dropdown {
        margin-top: 25px;
        /* width: 40px; */
        position: absolute;
        display: inline-block;
        right: 0.4em;
        border-radius: 6px;
    }
    
    .dropdown-content {
        /* display: none; */
        font-size: 10px ;  
        position: relative;
        margin-top: -10px;
        background-color: #f9f9f9; 
        /* height: 150px; */
        min-width: 120px;
        overflow: auto;
         box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        color: black;
        padding: 6px 4px;
        border-radius: 5px;
        text-decoration: none;
        display: block;
    }
    
    
    .dropdown a:hover {background-color: #f1f1f1}
    
    .show {display:block;}
    
    
    .hidden_div{
        margin-top: 2px;
    } 
          
    











 */
